<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dymo Label Printer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <h1>
                Dymo Label Printer
            </h1>
            {% if error %}
                <span class="feedback error">{{error}}</span>
            {% elif success %}
                <span class="feedback success">{{success}}</span>
            {% endif %}
            <form action="/print" method="GET">
                <div class="inputWrapper">
                    <input name="lineOne" id="lineOne" placeholder="Main line">
                    <button type="submit">Drucken</button>
                </div>
                <div class="multilineWrapper">
                    <input name="lineTwo" class="multiline" placeholder="(Optional) Line 2">
                    <input name="lineThree" class="multiline" placeholder="(Optional) Line 3">
                </div>
            </form>
        </div>
    </div>

    <script>
        // remove url query from browser path
        // to not reprint on refresh
        window.history.replaceState(null, null, '/');
    </script>
</body>
</html>